html, body { margin: 0; }
body {
  background: #6ED0F0;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: auto;
}

label {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#error
{
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 30px;
  color:red;
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea
 {
  background: #fff;
  border: none;
  border-radius: 8px;
  font-size: 27px;
  font-family: 'Raleway', sans-serif;
  height: 72px;
  width: 99.5%;
  margin-bottom: 10px;
  text-indent: 20px;
}

input[type=radio],
input[type=checkbox]
 {
  height: 20px;
  width: 20px;
}

.text
 {
  font-size: 27px;
  font-family: 'Raleway', sans-serif;
  margin: 10px 0px;
  text-indent: 20px;
}

.text1
 {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
  text-indent: 20px;
}

.text_cont{
  display: flex;
  flex-direction: row;
}

input[type="password"] {
      background: #eee;
}

.menu {
	display: flex;
	justify-content: space-around;
}

button {
  background: #079BCF;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  height: 50px;
  width: 20%;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.6,0,.4,1);
}

input[type=submit],
input[type=reset] {
  background: #079BCF;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  height: 72px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.6,0,.4,1);
}
button:hover,
input[type=submit]:hover {
  background: #007BA5;
}